@use "global/import" as *;

.c-btn {
  & {
    font-family: $ff-oswald;
    color: color(wt,base);
    font-weight: $base-font-bold;
    letter-spacing: .03em;
    background-color: color(gld,base);
    border-radius: 100vmax;
    border: solid 1px color(gld,base);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    @include text-trim;

    &::after {
      content: ">";
      font-family: $ff-oswald;
      color: color(wt,base);
      font-weight: $base-font-bold;
      position: absolute;
      top: 50%;
      transform:  translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
  }

  @include pc {
    font-size: 2.4rem;
    width: 25.4rem;
    height: 6.4rem;
    @include hover-btn;

    &::after {
      font-size: 2.4rem;
      right: 2rem;
    }
  }

  @include sp {
    font-size: 1.8rem;
    width: 26rem;
    height: 6.4rem;

    &::after {
      font-size: 2.4rem;
      right: 2rem;
    }
  }
}