@use "global/import" as *;

.l-main {
  & {
    overflow-x: clip;
  }

  @include pc {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrap {
      height: 100%;
      position: relative;
    }
  }

  @include sp {
    
  }
}