@use "global/import" as *;

.l-sp-wrap {
  & {
    max-width: 39rem;
    position: relative;
  }

  @include pc {
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 1.5rem .4rem rgba(255, 255, 255, 0.4);
    overflow-x: clip;
    overflow-y: auto;
  }

  @include sp {
    margin-inline: auto;
  }
}