@use "./global/import" as *;

.p-top-appeal {
  & {
    background-color: color(wt,base);
    
    &__inner {
      margin-inline: auto;
    }
  }

  @include pc {
    padding: 12rem 0;

    &__inner {
      width: 132rem;
      padding: 0 2rem;
    }
  }

  @include sp {
    padding: 8rem 0;

    &__inner {
      width: 100%;
      padding: 0 2rem;
    }
  }
}