@use "sass:map";

// デフォルトの色
$base-font-color: #06203A;
$base-bg-color: #06203A;

// パレットの定義
$color-palette: (
  wt : (
    base : #FFF,
    off : #FAF9F9,
  ),
  crm: (
    base : #FCFAEB,
  ),
  brn: (
    base : #B39E85,
  ),
  gry: (
    base : #EDECEA,
    sub : #EBEBEB,
  ),
  red: (
    base : #FF0000,
  )
) !default;

// color(色系統, トーン)
@function color($color, $tone:base) {
  @return map.get(map.get($color-palette, $color), $tone);
}